.label-header{
    font-size: 12px;
    font-weight: 100;
    color: black;
}
.label-data{
    font-size: 14px;
}

.transaction-container {
    padding-left: 0px; 
    margin-bottom: 3rem; 
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid  !important; 
    border-color: rgb(0, 255, 213) !important;
    padding-top: 1rem; 
    padding-bottom: 1rem;
    border-radius: 10px;
}

.detail-barang{
    margin-left: 1rem;
}