<ul class="product-list-grid2 tab-list owl-carousel-mobile" data-nav="false" data-dots="false" data-margin="0" data-loop="true"  data-items="1">
  <li class="product-item style3 mobile-slide-item col-sm-4 col-md-3" *ngFor="let product of products">
    <div class="product-inner">
      <div class="product-thumb has-back-image">
        <a href="#"><img src="{{product.thumbnail_path}}" alt=""></a>
        <a class="back-image" href="#"><img src="{{product.thumbnail_path}}" alt=""></a>
        <div class="gorup-button">
          <a (click)="addWishList(product.id_product)" class="wishlist"><i class="fa fa-heart"></i></a>
          <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
          <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
        </div>
      </div>
      <div class="product-info">
        <h3 class="product-name"><a href="#">{{product.nama_product}}</a></h3>
        <span class="price">
          <ins>{{product.price | currency : "Rp " }}</ins>
        </span>
        <a (click)="shopping.addToCart(product)" class="button add_to_cart_button" style="cursor: pointer">ADD TO CART</a>
      </div>
    </div>
  </li>
</ul>