<div class="main-container shop-with-banner left-slidebar">
    <div class="container">
        <div class="shop-banner">
            <img src="images/slides/slider-cat2.jpg" alt="">
        </div>
        <div class="breadcrumbs style2">
            <a href="#">Home</a>
            <span>Categories_Leftsidebar</span>
        </div>
        <div class="row">
            <div class="main-content col-sm-8 col-md-9">
                <div class="shop-top">
                    <div class="shop-top-left">
                        <span class="woocommerce-result-count">Menampilkan {{indexItemFrom}}-{{indexItemTo}} dari {{totalCount}} hasil</span>
                    </div>
                    <div class="shop-top-right">
                        <div class="orderby-wapper">
                            <select class="orderby" [(ngModel)]="selectedFilter.sort_order" (change)="updateRouter()">
                                <!-- <option value="">Short by Newness</option>
                                <option value="">Short by price</option> -->
                                <option *ngFor="let opt of availableFilter.sort_order" [value]="opt.val" [selected]="opt.val === appliedFilter.sort_order">{{opt.text}}</option>
                            </select>
                        </div>
                        <div class="orderby-wapper display-products">
                            <span class="label-filter">Tampilkan:</span>
                            <select class="orderby" [(ngModel)]="selectedFilter.limit_per_page" (change)="updateRouter()">
                                <!-- <option value="">9 products</option>
                                <option value="">12 products</option> -->
                                <option *ngFor="let dl of availableFilter.limit_per_page" [value]="dl" [selected]="dl == appliedFilter.limit_per_page">{{dl}} produk</option>
                            </select>
                        </div>

                        <div class="show-grid-list hide">
                            <span class="label-filter">VIEW:</span>
                            <a class="show-grid active" href="#">
                                <i class="fa fa-th"></i>
                            </a>
                            <a class="show-list" href="#">
                                <i class="fa fa-list"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="product-list-grid desktop-columns-3 tablet-columns-2 mobile-columns-1 row flex-flow" *ngIf="!isSearching && !isSearchError">
                    <li class="product-item style3 col-sm-6 col-md-4" *ngFor="let product of produks">
                        <div class="product-inner">
                            <div class="product-thumb has-back-image" style="height: 250px;">
                                <a href="#">
                                    <div class="img-preview-container">
                                        <img class="img-preview-small" src="{{product.thumbnail_path}}" alt="">
                                    </div>
                                </a>
                                <a class="back-image" [routerLink]="['/produk/detail', product.id_product]" style="height: 200px;">
                                    <div class="img-preview-container shadow">
                                        <img src="{{product.thumbnail_path}}" alt="" class="img-preview-small">
                                    </div>
                                </a>
                                <div class="gorup-button">
                                    <a class="wishlist cursor-pointer" (click)="shopping.addWishList(product)">
                                        <i class="fa fa-heart"></i>
                                    </a>
                                    <!-- <a href="#" class="compare"><i class="fa fa-exchange"></i></a> -->
                                    <!-- <a href="#" class="quick-view"><i class="fa fa-search"></i></a> -->
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">
                                    <a href="#">{{product.nama_product}}</a>
                                </h3>
                                <span class="price">
                                    <ins>{{product.price | currency : "Rp "}}</ins>
                                </span>
                                <a class="button add_to_cart_button cursor-pointer" (click)="shopping.addToCart(product)">Tambah ke Keranjang</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="loading-animation" *ngIf="isSearching">
                    <p>Sedang memuat data</p>
                </div>
                <div class="error-msg" *ngIf="isSearchError">
                    <p>Terjadi kesalahan saat melakukan pencarian produk</p>
                </div>
                <div class="navigation">
                    <ul>
                        <li *ngIf="appliedFilter.page > 1">
                            <a style="cursor: pointer;" (click)="navigationPrevClick()">
                                <i class="fa fa-long-arrow-left"></i>
                            </a>
                        </li>
                        <li *ngFor="let pg of paginationArray" class="{{pg == page ? 'active' : ''}}">
                            <a style="cursor: pointer;" (click)="navigationClick(pg)">{{pg}}</a>
                        </li>
                        <!-- <li>
                            <a href="#">1</a>
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li> -->
                        <li *ngIf="appliedFilter.page < totalPage">
                            <a style="cursor: pointer;" (click)="navigationNextClick()">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-md-3 sidebar">
                <!-- Product category -->
                <div class="widget widget_product_categories">
                    <h2 class="widget-title">Kategori</h2>
                    <ul class="product-categories">
                        <li *ngFor="let cp of categoriesOfProducts">
                            <a class="cursor-pointer" (click)="applyFilterCategory(cp)">{{cp.nama_kategori_master_produk == null ? "Lainnya" : cp.nama_kategori_master_produk}}</a>
                            <span class="count-item">({{cp.jumlah}})</span>
                        </li>
                        <!-- <li>
                            <a href="#">Sunglasses</a>
                            <span class="count-item">(25)</span>
                        </li>
                        <li>
                            <a href="#">Watches</a>
                            <span class="count-item">(23)</span>
                        </li>
                        <li class="current-cat">
                            <a href="#">Jewelry</a>
                            <span class="count-item">(9)</span>
                        </li>
                        <li>
                            <a href="#">Hats, Scraves & Gloves</a>
                            <span class="count-item">(12)</span>
                        </li>
                        <li>
                            <a href="#">Underwear & Socks</a>
                            <span class="count-item">(48)</span>
                        </li>
                        <li>
                            <a href="#">Grooming</a>
                            <span class="count-item">(6)</span>
                        </li>
                        <li>
                            <a href="#">Belts</a>
                            <span class="count-item">(18)</span>
                        </li> -->
                    </ul>
                </div>
                <!-- ./Product category -->
                <!-- Filter price -->
                <div class="widget widget_price_filter">
                    <h2 class="widget-title">Harga</h2>
                    <div>
                        <input class="filter-price" type="number" placeholder="Harga minimal ({{availableFilter.price_min | currency : 'Rp '}})" [(ngModel)]="selectedFilter.price_min" />
                        <input class="filter-price" type="number" placeholder="Harga maksimal ({{availableFilter.price_max | currency : 'Rp '}})" [(ngModel)]="selectedFilter.price_max" />
                        <button class="button" style="margin-top: 5px" (click)="updateRouter()">Terapkan Filter</button>
                    </div>
                    <!-- <div class="price_slider_wrapper">
                        <div class="amount-range-price">Price: $85.00 - $125.00</div>
                        <div data-label-reasult="price:" data-min="0" data-max="500" data-unit="$" class="slider-range-price " data-value-min="50"
                            data-value-max="350"></div>
                        <button class="button">Filter NOW</button> 
                        
                    </div> -->
                </div>
                <!-- ./Filter price -->
                <!-- By color -->
                <div class="widget widget_fillter_color">
                    <h2 class="widget-title">Warna</h2>
                    <div class="inner">
                        <a *ngFor="let color of availableColors" class="cursor-pointer {{color.selected ? 'active' : ''}}" (click)="applyColorFilter($event, color)">
                            <span [style.background-color]="color.warna_produk"></span>
                        </a>
                        <!-- <a href="#">
                            <span style="background-color:#736357;"></span>
                        </a>
                        <a class="active" href="#">
                            <span style="background-color:#bdb871;"></span>
                        </a>
                        <a href="#">
                            <span style="background-color:#f26522;"></span>
                        </a>
                        <a href="#">
                            <span style="background-color:#fff799;"></span>
                        </a> -->
                    </div>
                </div>
                <!-- ./By color -->
                <!-- By color -->
                <div class="widget widget_fillter_size">
                    <h2 class="widget-title">SIZE Option</h2>
                    <div class="inner">
                        <a href="#">
                            <span>S</span>
                        </a>
                        <a class="active" href="#">
                            <span>M</span>
                        </a>
                        <a href="#">
                            <span>L</span>
                        </a>
                        <a href="#">
                            <span>XL</span>
                        </a>
                        <a href="#">
                            <span>XXL</span>
                        </a>
                    </div>
                </div>
                <!-- ./By color -->
                <div class="widget widget_recent_product">
                    <h2 class="widget-title">recent products</h2>
                    <ul class="product-categories">
                        <li *ngFor="let p of shopping.myRecentProducts">
                            <div class="product-thumb">
                                <a [routerLink]="['/produk/detail/', p.id_product]">
                                    <img alt="" src="{{p.thumbnail_path}}">
                                </a>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name">
                                    <a [routerLink]="['/produk/detail/', p.id_product]">{{p.nama_product}}</a>
                                </h3>
                                <span class="price">
                                    <ins>{{p.price | currency : "Rp "}}</ins>
                                    <!-- <del>£155.00</del> -->
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Product tags -->
                <div class="widget widget_product_tag_cloud style2">
                    <h2 class="widget-title">TAGS</h2>
                    <div class="tagcloud">
                        <a href="#">Handbag</a>
                        <a href="#">Leather</a>
                        <a href="#">Vintage</a>
                        <a href="#">Women</a>
                        <a href="#">Sexy Dress</a>
                        <a href="#">Shoping</a>
                    </div>
                </div>
                <!-- ./Product tags -->
            </div>
        </div>
    </div>
</div>