<div class="limiter">
  <div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
          <form class="login100-form validate-form" (ngSubmit)="onSubmit()">
              <span class="login100-form-title p-b-49">
                  Update Password
              </span>

              <div class="wrap-input100 validate-input m-b-23" data-validate="Harap masukkan Email">
                <span class="label-input100">Password Lama</span>
                <input class="input100" type="password" name="username" placeholder="Password Lama" [(ngModel)]="password_lama">
                <span class="focus-input100" data-symbol="&#xf206;"></span>
              </div>

              <div class="wrap-input100 validate-input m-b-23" data-validate="Harap masukkan Email">
                  <span class="label-input100">Password Baru</span>
                  <input class="input100" type="password" name="username" placeholder="Password Baru" [(ngModel)]="password">
                  <span class="focus-input100" data-symbol="&#xf206;"></span>
              </div>

              <div class="wrap-input100 validate-input m-b-23" data-validate="Harap masukkan Email">
                <span class="label-input100">Ulangi Password Baru</span>
                <input class="input100" type="password" name="username" placeholder="Ulangi Password Baru" [(ngModel)]="password2">
                <span class="focus-input100" data-symbol="&#xf206;"></span>
            </div>

              <div class="container-login100-form-btn">
                  <div class="wrap-login100-form-btn">
                      <div class="login100-form-bgbtn"></div>
                      <button class="login100-form-btn" type="button" type="submit">
                          Ubah Password
                      </button>
                  </div>
              </div>

              <div class="flex-col-c p-t-155" style="margin-top: 1rem">
                  Kembali ke
                  <a routerLink="" class="txt2">
                      Dashboard
                  </a>
              </div>
          </form>
      </div>
  </div>
</div>