<footer class="footer style2">
  <div class="footer-top">
    <div class="container">
      <div class="row flex-flow">
        <div class="col-xs-12 col-sm-12 col-md-4 footer-sidebar">
          <div class="widget contact-info">
            <span class="text-primary PlayfairDisplay">Talk to Us Now !</span>
            <h3 class="widget-title">Contact Us</h3>
            <div class="content">
              <p class="address">Mall DTC Wonokromo Darmo Trade Center Lantai II B <br/>Surabaya, Jawa Timur</p>
              <p class="phone">
                <i class="fa fa-phone"></i> 0878-5151-2889</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12  col-sm-12 col-md-4 footer-sidebar">
          <div class="widget our-service">
            <span class="text-primary PlayfairDisplay">Talk to Us Now !</span>
            <h3 class="widget-title">OUR SERVICES</h3>
            <div class="content">
              <ul>
                <li>
                  <a href="#">Hubungi Kami</a>
                </li>
                <li>
                  <a href="#">Transaksi</a>
                </li>
                <!-- <li>
                  <a href="#">Returns</a>
                </li>
                <li>
                  <a href="#">Custom Service</a>
                </li>
                <li>
                  <a href="#">Terms & Condition</a>
                </li>
                <li>
                  <a href="#">Order History</a>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12  col-sm-12 col-md-4 footer-sidebar">
          <div class="widget widget_social style11">
            <span class="text-primary PlayfairDisplay">Talk to Us Now !</span>
            <h3 class="widget-title">FOLLOW US</h3>
            <div class="content">
              <div class="social">
                <a href="https://www.facebook.com/AuliafashionID/" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="https://twitter.com/aulia_cirebon" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="https://plus.google.com/112654338999288126276" target="_blank">
                  <i class="fa fa-google-plus"></i>
                </a>
                <a href="https://www.instagram.com/auliakatalog" target="_blank">
                  <i class="fa fa-instagram"></i>
                </a>
                <!-- <a href="#">
                  <i class="fa fa-pinterest"></i>
                </a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom" *ngIf="showPaymentList">
    <div class="container">
      <div class="payment">
        <div class="head">
          <span>We Accept</span>
          <span class="PlayfairDisplay">Online Payment Be Secured</span>
        </div>
        <div class="list">
          <div class="list">
            <a href="#" class="item">
              <img src="images/payments/5.png" alt="">
            </a>
            <a href="#" class="item">
              <img src="images/payments/6.png" alt="">
            </a>
            <a href="#" class="item">
              <img src="images/payments/7.png" alt="">
            </a>
            <a href="#" class="item">
              <img src="images/payments/8.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>